@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.titulo {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}



