@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.titulo {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.carousel-control-prev, .carousel-control-next{
  filter: invert(0);
}

@media (width >= 768px) {
   .img-carousel{
    height: 400px;
    object-fit: cover;
   } 
}

@media (width >= 992px) {
   .img-carousel{
    height: 500px;
   } 

   .img-monedas{
    object-position: 50% 70% ;
   }
}



